extends ../layouts/layout
block content
    +header(false, "", "", " !text-color-4", "", "", " !fill-color-4")
    // hero
    <div class="relative min-h-[48.44rem] 2xl:min-h-[40rem] xl:min-h-[35.625rem] py-30">
        <div class="container relative z-2">
            <div class="mb-20 text-h0-desktop 2xl:text-h0-tablet md:text-h0-mobile">Financial planning</div>
            <div class="max-w-[29.25rem] text-2xl text-color-6 2xl:text-xl md:text-lg">Our team is on hand to find out about your financial planning requirements and put you in touch with the right adviser to help</div>
        </div>
        <div class="absolute inset-0 left-[28vw] after:absolute after:inset-0 after:bg-color-1/80 md:left-0">
            img(class="absolute top-0 left-0 w-full h-full object-cover" src=require('Images/bg-services.jpg') alt="")
        </div>
    </div>
    // advantage
    <div class="section">
        <div class="container">
            <div class="label">ADVANTAGE</div>
            <div class="max-w-[50.32rem] mb-[4.125rem] text-h1-desktop 2xl:max-w-[38rem] 2xl:text-h1-tablet md:text-h4">Unlocking the benefits of financial wellness</div>
            <div class="flex flex-wrap -mt-24 2xl:-mt-20 md:-mt-12">
                <div class="w-1/2 mt-24 pr-12 2xl:mt-20 md:w-full md:mt-12 md:pr-0">
                    <div class="relative mb-4 pb-1 text-lg uppercase text-color-7 after:absolute after:left-0 after:bottom-0 after:w-10 after:h-0.25 after:bg-color-3">01</div>
                    <div class="max-w-[25rem] mb-10 text-h3 2xl:max-w-[22rem] 2xl:text-h4 2xl:font-medium xl:max-w-[19rem] xl:text-h5">Increase productivity</div>
                    <div class="max-w-[29.25rem] text-color-7">Finances are distracting your employees, leading to less productivity and greater stress. Savology can make a real difference.</div>
                </div>
                <div class="w-1/2 mt-24 pr-12 2xl:mt-20 md:w-full md:mt-12 md:pr-0">
                    <div class="relative mb-4 pb-1 text-lg uppercase text-color-7 after:absolute after:left-0 after:bottom-0 after:w-10 after:h-0.25 after:bg-color-3">02</div>
                    <div class="max-w-[25rem] mb-10 text-h3 2xl:max-w-[22rem] 2xl:text-h4 2xl:font-medium xl:max-w-[19rem] xl:text-h5">Improve retention</div>
                    <div class="max-w-[29.25rem] text-color-7">Financially stressed employees are more likely to look for new jobs. Financial wellness can increase workplace engagement by 15%.</div>
                </div>
                <div class="w-1/2 mt-24 pr-12 2xl:mt-20 md:w-full md:mt-12 md:pr-0">
                    <div class="relative mb-4 pb-1 text-lg uppercase text-color-7 after:absolute after:left-0 after:bottom-0 after:w-10 after:h-0.25 after:bg-color-3">03</div>
                    <div class="max-w-[25rem] mb-10 text-h3 2xl:max-w-[22rem] 2xl:text-h4 2xl:font-medium xl:max-w-[19rem] xl:text-h5">Reduce absenteeism</div>
                    <div class="max-w-[29.25rem] text-color-7">Finances are distracting your employees, leading to less productivity and greater stress. Savology can make a real difference.</div>
                </div>
                <div class="w-1/2 mt-24 pr-12 2xl:mt-20 md:w-full md:mt-12 md:pr-0">
                    <div class="relative mb-4 pb-1 text-lg uppercase text-color-7 after:absolute after:left-0 after:bottom-0 after:w-10 after:h-0.25 after:bg-color-3">04</div>
                    <div class="max-w-[25rem] mb-10 text-h3 2xl:max-w-[22rem] 2xl:text-h4 2xl:font-medium xl:max-w-[19rem] xl:text-h5">Debt settlement management</div>
                    <div class="max-w-[29.25rem] text-color-7">One of the primary benefits of debt management services is that they can help debtors reduce the overall amount of interest they pay on their debts.</div>
                </div>
            </div>
        </div>
    </div>
    // video
    <div class="section-light">
        <div class="container">
            <div class="max-w-[60.875rem] mb-18 text-h3 2xl:text-h4 2xl:font-medium xl:max-w-[43.75rem] xl:text-h5 md:-mr-2">Financial Planning for Millennials: Setting Goals and Achieving Financial Independence</div>
            <div class="group relative cursor-pointer tap-highlight-color" data-fancybox href="https://www.youtube.com/watch?v=4cR7E79X8Ys&t=2s&ab_channel=UI8Marketplace">
                img(class="w-full md:min-h-[15rem] md:object-cover" src=require('Images/image-7.jpg') alt="")
                <div class="absolute left-3 bottom-3 flex justify-center items-center w-16 h-16 rounded-full bg-color-2 fill-color-1 transition-colors group-hover:bg-color-4 group-hover:fill-color-2">
                    svg(class="fill-inherit" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
                        path(d="M7.132 18.109V5.891L16.643 12l-9.511 6.109z")
                </div>
            </div>
        </div>
    </div>
    // services
    <div class="section">
        <div class="container">
            <div class="label">SERVICES</div>
            <div class="max-w-[48rem] mb-30 text-h1-desktop 2xl:mb-24 2xl:text-h1-tablet md:mb-16 md:text-h1-mobile">Customized strategies for your financial success</div>
            <div>
                <div class="accordion-item relative mb-20 last:mb-0 xl:mb-18 md:mb-16 active">
                    <div class="accordion-head group relative z-1 cursor-pointer tap-highlight-color pr-[41.6875rem] xl:pr-[30.375rem] lg:pr-[7.75rem] md:pr-20">
                        <div class="label mb-6 text-color-2">01</div>
                        <div class="accordion-title text-h2-desktop text-color-2 transition-colors group-hover:text-color-4 2xl:text-h2-tablet 2xl:group-hover:text-color-2 md:text-h6">Data gathering and analysis</div>
                        <div class="accordion-plus absolute right-0 bottom-0 w-16 h-16 rounded-full bg-color-2 transition-colors before:absolute before:top-1/2 before:left-1/2 before:-translate-x-1/2 before:-translate-y-1/2 before:w-4 before:h-0.5 before:bg-color-1 after:absolute after:top-1/2 after:left-1/2 after:-translate-x-1/2 after:-translate-y-1/2 after:w-0.5 after:h-4 after:bg-color-1 after:transition-all md:top-0 md:bottom-auto"></div>
                    </div>
                    <div class="accordion-content hidden pt-14 pr-[41.6875rem] xl:pr-[30.375rem] lg:pr-0 md:pt-10">
                        <div class="max-w-[29.25rem] text-color-7 xl:max-w-full lg:max-w-full">After the initial consultation, we conduct a comprehensive data gathering and analysis process. This includes a thorough review of the client's financial data, documents, and statements. We use advanced financial planning tools and techniques to analyze the data and gain a comprehensive understanding of the client's financial situation and goals.</div>
                        <div class="absolute top-0 left-[calc(100%-39.6875rem)] right-[10.5rem] bottom-4 max-h-[35rem] xl:left-[calc(100%-27.375rem)] xl:right-[7.75rem] xl:bottom-0 xl:max-h-[27.5rem] lg:relative lg:top-auto lg:left-auto lg:right-auto lg:bottom-auto lg:h-[27.5rem] lg:mx-auto lg:mt-16 md:h-[25rem]">
                            img(class="absolute top-0 left-0 w-full h-full object-cover" src=require('Images/image-8.jpg') alt="")
                        </div>
                    </div>
                </div>
                <div class="accordion-item relative mb-20 last:mb-0 xl:mb-18 md:mb-16">
                    <div class="accordion-head group relative z-1 cursor-pointer tap-highlight-color pr-[41.6875rem] xl:pr-[30.375rem] lg:pr-[7.75rem] md:pr-20">
                        <div class="label mb-6 text-color-2">02</div>
                        <div class="accordion-title text-h2-desktop text-color-2 transition-colors group-hover:text-color-4 2xl:text-h2-tablet 2xl:group-hover:text-color-2 md:text-h6">Initial consultation</div>
                        <div class="accordion-plus absolute right-0 bottom-0 w-16 h-16 rounded-full bg-color-2 transition-colors before:absolute before:top-1/2 before:left-1/2 before:-translate-x-1/2 before:-translate-y-1/2 before:w-4 before:h-0.5 before:bg-color-1 after:absolute after:top-1/2 after:left-1/2 after:-translate-x-1/2 after:-translate-y-1/2 after:w-0.5 after:h-4 after:bg-color-1 after:transition-all md:top-0 md:bottom-auto"></div>
                    </div>
                    <div class="accordion-content hidden pt-14 pr-[41.6875rem] xl:pr-[30.375rem] lg:pr-0 md:pt-10">
                        <div class="max-w-[29.25rem] text-color-7 xl:max-w-full lg:max-w-full">After the initial consultation, we conduct a comprehensive data gathering and analysis process. This includes a thorough review of the client's financial data, documents, and statements. We use advanced financial planning tools and techniques to analyze the data and gain a comprehensive understanding of the client's financial situation and goals.</div>
                        <div class="absolute top-0 left-[calc(100%-39.6875rem)] right-[10.5rem] bottom-4 max-h-[35rem] xl:left-[calc(100%-27.375rem)] xl:right-[7.75rem] xl:bottom-0 xl:max-h-[27.5rem] lg:relative lg:top-auto lg:left-auto lg:right-auto lg:bottom-auto lg:h-[27.5rem] lg:mx-auto lg:mt-16 md:h-[25rem]">
                            img(class="absolute top-0 left-0 w-full h-full object-cover" src=require('Images/image-3.jpg') alt="")
                        </div>
                    </div>
                </div>
                <div class="accordion-item relative mb-20 last:mb-0 xl:mb-18 md:mb-16">
                    <div class="accordion-head group relative z-1 cursor-pointer tap-highlight-color pr-[41.6875rem] xl:pr-[30.375rem] lg:pr-[7.75rem] md:pr-20">
                        <div class="label mb-6 text-color-2">03</div>
                        <div class="accordion-title text-h2-desktop text-color-2 transition-colors group-hover:text-color-4 2xl:text-h2-tablet 2xl:group-hover:text-color-2 md:text-h6">Goal setting and prioritization</div>
                        <div class="accordion-plus absolute right-0 bottom-0 w-16 h-16 rounded-full bg-color-2 transition-colors before:absolute before:top-1/2 before:left-1/2 before:-translate-x-1/2 before:-translate-y-1/2 before:w-4 before:h-0.5 before:bg-color-1 after:absolute after:top-1/2 after:left-1/2 after:-translate-x-1/2 after:-translate-y-1/2 after:w-0.5 after:h-4 after:bg-color-1 after:transition-all md:top-0 md:bottom-auto"></div>
                    </div>
                    <div class="accordion-content hidden pt-14 pr-[41.6875rem] xl:pr-[30.375rem] lg:pr-0 md:pt-10">
                        <div class="max-w-[29.25rem] text-color-7 xl:max-w-full lg:max-w-full">After the initial consultation, we conduct a comprehensive data gathering and analysis process. This includes a thorough review of the client's financial data, documents, and statements. We use advanced financial planning tools and techniques to analyze the data and gain a comprehensive understanding of the client's financial situation and goals.</div>
                        <div class="absolute top-0 left-[calc(100%-39.6875rem)] right-[10.5rem] bottom-4 max-h-[35rem] xl:left-[calc(100%-27.375rem)] xl:right-[7.75rem] xl:bottom-0 xl:max-h-[27.5rem] lg:relative lg:top-auto lg:left-auto lg:right-auto lg:bottom-auto lg:h-[27.5rem] lg:mx-auto lg:mt-16 md:h-[25rem]">
                            img(class="absolute top-0 left-0 w-full h-full object-cover" src=require('Images/image-8.jpg') alt="")
                        </div>
                    </div>
                </div>
                <div class="accordion-item relative mb-20 last:mb-0 xl:mb-18 md:mb-16">
                    <div class="accordion-head group relative z-1 cursor-pointer tap-highlight-color pr-[41.6875rem] xl:pr-[30.375rem] lg:pr-[7.75rem] md:pr-20">
                        <div class="label mb-6 text-color-2">04</div>
                        <div class="accordion-title text-h2-desktop text-color-2 transition-colors group-hover:text-color-4 2xl:text-h2-tablet 2xl:group-hover:text-color-2 md:text-h6">Customized financial plan</div>
                        <div class="accordion-plus absolute right-0 bottom-0 w-16 h-16 rounded-full bg-color-2 transition-colors before:absolute before:top-1/2 before:left-1/2 before:-translate-x-1/2 before:-translate-y-1/2 before:w-4 before:h-0.5 before:bg-color-1 after:absolute after:top-1/2 after:left-1/2 after:-translate-x-1/2 after:-translate-y-1/2 after:w-0.5 after:h-4 after:bg-color-1 after:transition-all md:top-0 md:bottom-auto"></div>
                    </div>
                    <div class="accordion-content hidden pt-14 pr-[41.6875rem] xl:pr-[30.375rem] lg:pr-0 md:pt-10">
                        <div class="max-w-[29.25rem] text-color-7 xl:max-w-full lg:max-w-full">After the initial consultation, we conduct a comprehensive data gathering and analysis process. This includes a thorough review of the client's financial data, documents, and statements. We use advanced financial planning tools and techniques to analyze the data and gain a comprehensive understanding of the client's financial situation and goals.</div>
                        <div class="absolute top-0 left-[calc(100%-39.6875rem)] right-[10.5rem] bottom-4 max-h-[35rem] xl:left-[calc(100%-27.375rem)] xl:right-[7.75rem] xl:bottom-0 xl:max-h-[27.5rem] lg:relative lg:top-auto lg:left-auto lg:right-auto lg:bottom-auto lg:h-[27.5rem] lg:mx-auto lg:mt-16 md:h-[25rem]">
                            img(class="absolute top-0 left-0 w-full h-full object-cover" src=require('Images/image-3.jpg') alt="")
                        </div>
                    </div>
                </div>
                <div class="accordion-item relative mb-20 last:mb-0 xl:mb-18 md:mb-16">
                    <div class="accordion-head group relative z-1 cursor-pointer tap-highlight-color pr-[41.6875rem] xl:pr-[30.375rem] lg:pr-[7.75rem] md:pr-20">
                        <div class="label mb-6 text-color-2">05</div>
                        <div class="accordion-title text-h2-desktop text-color-2 transition-colors group-hover:text-color-4 2xl:text-h2-tablet 2xl:group-hover:text-color-2 md:text-h6">Presentation and review</div>
                        <div class="accordion-plus absolute right-0 bottom-0 w-16 h-16 rounded-full bg-color-2 transition-colors before:absolute before:top-1/2 before:left-1/2 before:-translate-x-1/2 before:-translate-y-1/2 before:w-4 before:h-0.5 before:bg-color-1 after:absolute after:top-1/2 after:left-1/2 after:-translate-x-1/2 after:-translate-y-1/2 after:w-0.5 after:h-4 after:bg-color-1 after:transition-all md:top-0 md:bottom-auto"></div>
                    </div>
                    <div class="accordion-content hidden pt-14 pr-[41.6875rem] xl:pr-[30.375rem] lg:pr-0 md:pt-10">
                        <div class="max-w-[29.25rem] text-color-7 xl:max-w-full lg:max-w-full">After the initial consultation, we conduct a comprehensive data gathering and analysis process. This includes a thorough review of the client's financial data, documents, and statements. We use advanced financial planning tools and techniques to analyze the data and gain a comprehensive understanding of the client's financial situation and goals.</div>
                        <div class="absolute top-0 left-[calc(100%-39.6875rem)] right-[10.5rem] bottom-4 max-h-[35rem] xl:left-[calc(100%-27.375rem)] xl:right-[7.75rem] xl:bottom-0 xl:max-h-[27.5rem] lg:relative lg:top-auto lg:left-auto lg:right-auto lg:bottom-auto lg:h-[27.5rem] lg:mx-auto lg:mt-16 md:h-[25rem]">
                            img(class="absolute top-0 left-0 w-full h-full object-cover" src=require('Images/image-8.jpg') alt="")
                        </div>
                    </div>
                </div>
                <div class="accordion-item relative mb-20 last:mb-0 xl:mb-18 md:mb-16">
                    <div class="accordion-head group relative z-1 cursor-pointer tap-highlight-color pr-[41.6875rem] xl:pr-[30.375rem] lg:pr-[7.75rem] md:pr-20">
                        <div class="label mb-6 text-color-2">06</div>
                        <div class="accordion-title text-h2-desktop text-color-2 transition-colors group-hover:text-color-4 2xl:text-h2-tablet 2xl:group-hover:text-color-2 md:text-h6">Compliance monitoring</div>
                        <div class="accordion-plus absolute right-0 bottom-0 w-16 h-16 rounded-full bg-color-2 transition-colors before:absolute before:top-1/2 before:left-1/2 before:-translate-x-1/2 before:-translate-y-1/2 before:w-4 before:h-0.5 before:bg-color-1 after:absolute after:top-1/2 after:left-1/2 after:-translate-x-1/2 after:-translate-y-1/2 after:w-0.5 after:h-4 after:bg-color-1 after:transition-all md:top-0 md:bottom-auto"></div>
                    </div>
                    <div class="accordion-content hidden pt-14 pr-[41.6875rem] xl:pr-[30.375rem] lg:pr-0 md:pt-10">
                        <div class="max-w-[29.25rem] text-color-7 xl:max-w-full lg:max-w-full">After the initial consultation, we conduct a comprehensive data gathering and analysis process. This includes a thorough review of the client's financial data, documents, and statements. We use advanced financial planning tools and techniques to analyze the data and gain a comprehensive understanding of the client's financial situation and goals.</div>
                        <div class="absolute top-0 left-[calc(100%-39.6875rem)] right-[10.5rem] bottom-4 max-h-[35rem] xl:left-[calc(100%-27.375rem)] xl:right-[7.75rem] xl:bottom-0 xl:max-h-[27.5rem] lg:relative lg:top-auto lg:left-auto lg:right-auto lg:bottom-auto lg:h-[27.5rem] lg:mx-auto lg:mt-16 md:h-[25rem]">
                            img(class="absolute top-0 left-0 w-full h-full object-cover" src=require('Images/image-3.jpg') alt="")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    include ../includes/achieve