extends ../layouts/layout
block content
    +header(false, "", " !text-color-4", "", "", "", "")
    // hero
    <div class="relative pt-30 pb-44 2xl:pb-40 md:py-24">
        <div class="container relative z-2">
            <div class="mb-18 text-h0-desktop 2xl:max-w-[51.25rem] 2xl:text-h0-tablet md:mb-10 md:text-h0-mobile">We remain firmly committed to our fundamental values.</div>
            <div class="max-w-[29.25rem] text-2xl text-color-7 xl:text-xl md:text-lg">We take immense pride in our unwavering commitment to providing the highest level of service possible.</div>
        </div>
        <div class="absolute inset-0 after:absolute after:inset-0 after:bg-color-1/80">
            img(class="absolute top-0 left-0 w-full h-full object-cover" src=require('Images/bg-about.jpg'))
        </div>
    </div>
    // who we are
    <div class="section">
        <div class="relative min-h-[52rem] mb-30 2xl:min-h-[48rem] xl:min-h-[44rem] md:min-h-min md:mb-20">
            <div class="container">
                <div class="relative z-2 max-w-[60vw] pr-20 md:max-w-full md:pr-0">
                    <div class="label">WHO WE ARE</div>
                    <div class="max-w-[42.25rem] mb-18 text-h1-desktop 2xl:text-h1-tablet md:mb-12 md:text-h4">Our committed team of financial consultants</div>
                    <div class="max-w-[29.25rem] text-color-7">We are a team of experienced financial consultants dedicated to helping individuals and businesses achieve financial success. With years of expertise in the financial industry, we are committed to providing personalized financial solutions tailored to our clients&apos; unique needs and goals.<br></br>Our team is comprised of highly skilled financial professionals who are passionate about empowering our clients to take control of their financial future. We believe in building long-term relationships based on trust and integrity, and strive to deliver exceptional service with the utmost professionalism and confidentiality.</div>
                </div>
            </div>
            <div class="absolute top-8 right-0 bottom-0 w-[37vw] max-h-[50rem] 2xl:top-0 md:relative md:inset-auto md:w-auto md:h-[35rem] md:mt-16">
                img(class="absolute top-0 left-0 w-full h-full object-cover" src=require('Images/image-5.jpg'))
            </div>
        </div>
        <div class="">
            <div class="container">
                <div class="accordion-item relative mb-20 last:mb-0 xl:mb-18 md:mb-16">
                    <div class="accordion-head group relative z-1 cursor-pointer tap-highlight-color pr-[41.6875rem] xl:pr-[30.375rem] lg:pr-[7.75rem] md:pr-20">
                        <div class="accordion-title text-h2-desktop text-color-2 transition-colors group-hover:text-color-4 2xl:text-h2-tablet 2xl:group-hover:text-color-2 md:text-h6">2002</div>
                        <div class="accordion-plus absolute right-0 bottom-0 w-16 h-16 rounded-full bg-color-2 transition-colors before:absolute before:top-1/2 before:left-1/2 before:-translate-x-1/2 before:-translate-y-1/2 before:w-4 before:h-0.5 before:bg-color-1 after:absolute after:top-1/2 after:left-1/2 after:-translate-x-1/2 after:-translate-y-1/2 after:w-0.5 after:h-4 after:bg-color-1 after:transition-all md:top-0 md:bottom-auto"></div>
                    </div>
                    <div class="accordion-content hidden pt-14 pr-[41.6875rem] xl:pr-[30.375rem] lg:pr-0 md:pt-10">
                        <div class="max-w-[29.25rem] text-color-7 xl:max-w-full lg:max-w-full">Since its establishment in 2002, the company has grown and flourished in the financial industry, building a reputation as a leading player in its field. Through its years of operation, the company has consistently demonstrated a high level of expertise, professionalism, and commitment to its clients, resulting in a loyal and satisfied customer base.<br></br>The company's success can be attributed to a number of key factors. First and foremost, it has always been dedicated to delivering exceptional financial services and solutions to its clients. This commitment to excellence is reflected in the company's staff, who are highly skilled and knowledgeable professionals with extensive experience in the financial industry.</div>
                        <div class="absolute top-0 left-[calc(100%-39.6875rem)] right-[10.5rem] bottom-4 max-h-[35rem] xl:left-[calc(100%-27.375rem)] xl:right-[7.75rem] xl:bottom-0 xl:max-h-[27.5rem] lg:relative lg:top-auto lg:left-auto lg:right-auto lg:bottom-auto lg:h-[27.5rem] lg:mx-auto lg:mt-16 md:h-[25rem]">
                            img(class="absolute top-0 left-0 w-full h-full object-cover" src=require('Images/image-3.jpg') alt="")
                        </div>
                    </div>
                </div>
                <div class="accordion-item relative mb-20 last:mb-0 xl:mb-18 md:mb-16 active">
                    <div class="accordion-head group relative z-1 cursor-pointer tap-highlight-color pr-[41.6875rem] xl:pr-[30.375rem] lg:pr-[7.75rem] md:pr-20">
                        <div class="accordion-title text-h2-desktop text-color-2 transition-colors group-hover:text-color-4 2xl:text-h2-tablet 2xl:group-hover:text-color-2 md:text-h6">2005</div>
                        <div class="accordion-plus absolute right-0 bottom-0 w-16 h-16 rounded-full bg-color-2 transition-colors before:absolute before:top-1/2 before:left-1/2 before:-translate-x-1/2 before:-translate-y-1/2 before:w-4 before:h-0.5 before:bg-color-1 after:absolute after:top-1/2 after:left-1/2 after:-translate-x-1/2 after:-translate-y-1/2 after:w-0.5 after:h-4 after:bg-color-1 after:transition-all md:top-0 md:bottom-auto"></div>
                    </div>
                    <div class="accordion-content hidden pt-14 pr-[41.6875rem] xl:pr-[30.375rem] lg:pr-0 md:pt-10">
                        <div class="max-w-[29.25rem] text-color-7 xl:max-w-full lg:max-w-full">Since its establishment in 2002, the company has grown and flourished in the financial industry, building a reputation as a leading player in its field. Through its years of operation, the company has consistently demonstrated a high level of expertise, professionalism, and commitment to its clients, resulting in a loyal and satisfied customer base.<br></br>The company's success can be attributed to a number of key factors. First and foremost, it has always been dedicated to delivering exceptional financial services and solutions to its clients. This commitment to excellence is reflected in the company's staff, who are highly skilled and knowledgeable professionals with extensive experience in the financial industry.</div>
                        <div class="absolute top-0 left-[calc(100%-39.6875rem)] right-[10.5rem] bottom-4 max-h-[35rem] xl:left-[calc(100%-27.375rem)] xl:right-[7.75rem] xl:bottom-0 xl:max-h-[27.5rem] lg:relative lg:top-auto lg:left-auto lg:right-auto lg:bottom-auto lg:h-[27.5rem] lg:mx-auto lg:mt-16 md:h-[25rem]">
                            img(class="absolute top-0 left-0 w-full h-full object-cover" src=require('Images/image-6.jpg') alt="")
                        </div>
                    </div>
                </div>
                <div class="accordion-item relative mb-20 last:mb-0 xl:mb-18 md:mb-16">
                    <div class="accordion-head group relative z-1 cursor-pointer tap-highlight-color pr-[41.6875rem] xl:pr-[30.375rem] lg:pr-[7.75rem] md:pr-20">
                        <div class="accordion-title text-h2-desktop text-color-2 transition-colors group-hover:text-color-4 2xl:text-h2-tablet 2xl:group-hover:text-color-2 md:text-h6">2010</div>
                        <div class="accordion-plus absolute right-0 bottom-0 w-16 h-16 rounded-full bg-color-2 transition-colors before:absolute before:top-1/2 before:left-1/2 before:-translate-x-1/2 before:-translate-y-1/2 before:w-4 before:h-0.5 before:bg-color-1 after:absolute after:top-1/2 after:left-1/2 after:-translate-x-1/2 after:-translate-y-1/2 after:w-0.5 after:h-4 after:bg-color-1 after:transition-all md:top-0 md:bottom-auto"></div>
                    </div>
                    <div class="accordion-content hidden pt-14 pr-[41.6875rem] xl:pr-[30.375rem] lg:pr-0 md:pt-10">
                        <div class="max-w-[29.25rem] text-color-7 xl:max-w-full lg:max-w-full">Since its establishment in 2002, the company has grown and flourished in the financial industry, building a reputation as a leading player in its field. Through its years of operation, the company has consistently demonstrated a high level of expertise, professionalism, and commitment to its clients, resulting in a loyal and satisfied customer base.<br></br>The company's success can be attributed to a number of key factors. First and foremost, it has always been dedicated to delivering exceptional financial services and solutions to its clients. This commitment to excellence is reflected in the company's staff, who are highly skilled and knowledgeable professionals with extensive experience in the financial industry.</div>
                        <div class="absolute top-0 left-[calc(100%-39.6875rem)] right-[10.5rem] bottom-4 max-h-[35rem] xl:left-[calc(100%-27.375rem)] xl:right-[7.75rem] xl:bottom-0 xl:max-h-[27.5rem] lg:relative lg:top-auto lg:left-auto lg:right-auto lg:bottom-auto lg:h-[27.5rem] lg:mx-auto lg:mt-16 md:h-[25rem]">
                            img(class="absolute top-0 left-0 w-full h-full object-cover" src=require('Images/image-3.jpg') alt="")
                        </div>
                    </div>
                </div>
                <div class="accordion-item relative mb-20 last:mb-0 xl:mb-18 md:mb-16">
                    <div class="accordion-head group relative z-1 cursor-pointer tap-highlight-color pr-[41.6875rem] xl:pr-[30.375rem] lg:pr-[7.75rem] md:pr-20">
                        <div class="accordion-title text-h2-desktop text-color-2 transition-colors group-hover:text-color-4 2xl:text-h2-tablet 2xl:group-hover:text-color-2 md:text-h6">2015</div>
                        <div class="accordion-plus absolute right-0 bottom-0 w-16 h-16 rounded-full bg-color-2 transition-colors before:absolute before:top-1/2 before:left-1/2 before:-translate-x-1/2 before:-translate-y-1/2 before:w-4 before:h-0.5 before:bg-color-1 after:absolute after:top-1/2 after:left-1/2 after:-translate-x-1/2 after:-translate-y-1/2 after:w-0.5 after:h-4 after:bg-color-1 after:transition-all md:top-0 md:bottom-auto"></div>
                    </div>
                    <div class="accordion-content hidden pt-14 pr-[41.6875rem] xl:pr-[30.375rem] lg:pr-0 md:pt-10">
                        <div class="max-w-[29.25rem] text-color-7 xl:max-w-full lg:max-w-full">Since its establishment in 2002, the company has grown and flourished in the financial industry, building a reputation as a leading player in its field. Through its years of operation, the company has consistently demonstrated a high level of expertise, professionalism, and commitment to its clients, resulting in a loyal and satisfied customer base.<br></br>The company's success can be attributed to a number of key factors. First and foremost, it has always been dedicated to delivering exceptional financial services and solutions to its clients. This commitment to excellence is reflected in the company's staff, who are highly skilled and knowledgeable professionals with extensive experience in the financial industry.</div>
                        <div class="absolute top-0 left-[calc(100%-39.6875rem)] right-[10.5rem] bottom-4 max-h-[35rem] xl:left-[calc(100%-27.375rem)] xl:right-[7.75rem] xl:bottom-0 xl:max-h-[27.5rem] lg:relative lg:top-auto lg:left-auto lg:right-auto lg:bottom-auto lg:h-[27.5rem] lg:mx-auto lg:mt-16 md:h-[25rem]">
                            img(class="absolute top-0 left-0 w-full h-full object-cover" src=require('Images/image-6.jpg') alt="")
                        </div>
                    </div>
                </div>
                <div class="accordion-item relative mb-20 last:mb-0 xl:mb-18 md:mb-16">
                    <div class="accordion-head group relative z-1 cursor-pointer tap-highlight-color pr-[41.6875rem] xl:pr-[30.375rem] lg:pr-[7.75rem] md:pr-20">
                        <div class="accordion-title text-h2-desktop text-color-2 transition-colors group-hover:text-color-4 2xl:text-h2-tablet 2xl:group-hover:text-color-2 md:text-h6">2020</div>
                        <div class="accordion-plus absolute right-0 bottom-0 w-16 h-16 rounded-full bg-color-2 transition-colors before:absolute before:top-1/2 before:left-1/2 before:-translate-x-1/2 before:-translate-y-1/2 before:w-4 before:h-0.5 before:bg-color-1 after:absolute after:top-1/2 after:left-1/2 after:-translate-x-1/2 after:-translate-y-1/2 after:w-0.5 after:h-4 after:bg-color-1 after:transition-all md:top-0 md:bottom-auto"></div>
                    </div>
                    <div class="accordion-content hidden pt-14 pr-[41.6875rem] xl:pr-[30.375rem] lg:pr-0 md:pt-10">
                        <div class="max-w-[29.25rem] text-color-7 xl:max-w-full lg:max-w-full">Since its establishment in 2002, the company has grown and flourished in the financial industry, building a reputation as a leading player in its field. Through its years of operation, the company has consistently demonstrated a high level of expertise, professionalism, and commitment to its clients, resulting in a loyal and satisfied customer base.<br></br>The company's success can be attributed to a number of key factors. First and foremost, it has always been dedicated to delivering exceptional financial services and solutions to its clients. This commitment to excellence is reflected in the company's staff, who are highly skilled and knowledgeable professionals with extensive experience in the financial industry.</div>
                        <div class="absolute top-0 left-[calc(100%-39.6875rem)] right-[10.5rem] bottom-4 max-h-[35rem] xl:left-[calc(100%-27.375rem)] xl:right-[7.75rem] xl:bottom-0 xl:max-h-[27.5rem] lg:relative lg:top-auto lg:left-auto lg:right-auto lg:bottom-auto lg:h-[27.5rem] lg:mx-auto lg:mt-16 md:h-[25rem]">
                            img(class="absolute top-0 left-0 w-full h-full object-cover" src=require('Images/image-3.jpg') alt="")
                        </div>
                    </div>
                </div>
                <div class="accordion-item relative mb-20 last:mb-0 xl:mb-18 md:mb-16">
                    <div class="accordion-head group relative z-1 cursor-pointer tap-highlight-color pr-[41.6875rem] xl:pr-[30.375rem] lg:pr-[7.75rem] md:pr-20">
                        <div class="accordion-title text-h2-desktop text-color-2 transition-colors group-hover:text-color-4 2xl:text-h2-tablet 2xl:group-hover:text-color-2 md:text-h6">2023</div>
                        <div class="accordion-plus absolute right-0 bottom-0 w-16 h-16 rounded-full bg-color-2 transition-colors before:absolute before:top-1/2 before:left-1/2 before:-translate-x-1/2 before:-translate-y-1/2 before:w-4 before:h-0.5 before:bg-color-1 after:absolute after:top-1/2 after:left-1/2 after:-translate-x-1/2 after:-translate-y-1/2 after:w-0.5 after:h-4 after:bg-color-1 after:transition-all md:top-0 md:bottom-auto"></div>
                    </div>
                    <div class="accordion-content hidden pt-14 pr-[41.6875rem] xl:pr-[30.375rem] lg:pr-0 md:pt-10">
                        <div class="max-w-[29.25rem] text-color-7 xl:max-w-full lg:max-w-full">Since its establishment in 2002, the company has grown and flourished in the financial industry, building a reputation as a leading player in its field. Through its years of operation, the company has consistently demonstrated a high level of expertise, professionalism, and commitment to its clients, resulting in a loyal and satisfied customer base.<br></br>The company's success can be attributed to a number of key factors. First and foremost, it has always been dedicated to delivering exceptional financial services and solutions to its clients. This commitment to excellence is reflected in the company's staff, who are highly skilled and knowledgeable professionals with extensive experience in the financial industry.</div>
                        <div class="absolute top-0 left-[calc(100%-39.6875rem)] right-[10.5rem] bottom-4 max-h-[35rem] xl:left-[calc(100%-27.375rem)] xl:right-[7.75rem] xl:bottom-0 xl:max-h-[27.5rem] lg:relative lg:top-auto lg:left-auto lg:right-auto lg:bottom-auto lg:h-[27.5rem] lg:mx-auto lg:mt-16 md:h-[25rem]">
                            img(class="absolute top-0 left-0 w-full h-full object-cover" src=require('Images/image-6.jpg') alt="")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    // investor
    <div class="section-light">
        <div class="container">
            <div class="label-dark">INVESTOR</div>
            <div class="max-w-[33rem] mb-28 text-h1-desktop 2xl:mb-16 2xl:text-h1-tablet md:mb-8 md:text-h4">Our capital provider</div>
            <div class="max-w-[60.875rem] mx-auto xl:max-w-[50rem]">
                <div class="flex flex-wrap -mt-10 -mx-5 2xl:m-0 md:block">
                    <div class="w-[calc(50%-2.5rem)] mt-10 mx-5 2xl:w-1/2 2xl:m-0 md:w-full">
                        img(class="w-full" src=require('Images/zoom.png') alt="")
                    </div>
                    <div class="w-[calc(50%-2.5rem)] mt-10 mx-5 2xl:w-1/2 2xl:m-0 md:w-full">
                        img(class="w-full" src=require('Images/caixa.png') alt="")
                    </div>
                    <div class="w-[calc(50%-2.5rem)] mt-10 mx-5 2xl:w-1/2 2xl:m-0 md:w-full">
                        img(class="w-full" src=require('Images/casio.png') alt="")
                    </div>
                    <div class="w-[calc(50%-2.5rem)] mt-10 mx-5 2xl:w-1/2 2xl:m-0 md:w-full">
                        img(class="w-full" src=require('Images/forbes.png') alt="")
                    </div>
                </div>
            </div>
        </div>
    </div>
    // achievement
    <div class="relative pt-40 pb-30 2xl:pb-40 md:py-24">
        <div class="container relative z-2">
            <div class="label">ACHIEVEMENT</div>
            <div class="max-w-[50.32rem] mb-36 text-h1-desktop 2xl:mb-24 2xl:text-h1-tablet md:mb-16 md:text-h1-mobile">We are in the numbers</div>
            <div class="flex pr-[7.75rem] 2xl:pr-0 lg:flex-wrap lg:-mt-10 md:block md:mt-0">
                <div class="flex-1 pr-4 lg:flex-auto lg:w-1/2 lg:mt-10 md:w-full md:pr-0">
                    <div class="mb-4 text-h2-desktop 2xl:text-h3 md:mb-2 md:text-h5">$400T</div>
                    <div class="text-color-7">Funded loan volume</div>
                </div>
                <div class="flex-1 pr-4 lg:flex-auto lg:w-1/2 lg:mt-10 md:w-full md:pr-0">
                    <div class="mb-4 text-h2-desktop 2xl:text-h3 md:mb-2 md:text-h5">3250+</div>
                    <div class="text-color-7">Positive reviews</div>
                </div>
                <div class="flex-1 pr-4 lg:flex-auto lg:w-1/2 lg:mt-10 md:w-full md:pr-0">
                    <div class="mb-4 text-h2-desktop 2xl:text-h3 md:mb-2 md:text-h5">10+</div>
                    <div class="text-color-7">Years of experience</div>
                </div>
                <div class="flex-1 pr-4 lg:flex-auto lg:w-1/2 lg:mt-10 md:w-full md:pr-0">
                    <div class="mb-4 text-h2-desktop 2xl:text-h3 md:mb-2 md:text-h5">150%</div>
                    <div class="text-color-7">Investment growth</div>
                </div>
            </div>
        </div>
        <div class="absolute inset-0 after:absolute after:inset-0 after:bg-color-1/85">
            img(class="absolute top-0 left-0 w-full h-full object-cover" src=require('Images/bg-achievement.jpg'))
        </div>
    </div>
    // team
    <div class="section">
        <div class="container">
            <div class="label">TEAM</div>
            <div class="max-w-[50.32rem] mb-28 text-h1-desktop 2xl:mb-20 2xl:text-h1-tablet md:mb-16 md:text-h0-mobile">The experts behind our success</div>
            <div class="group/slider relative">
                <div class="absolute top-[15.125rem] left-[calc(50%+5.25rem)] z-2 flex justify-center items-center w-50 h-50 -translate-x-1/2 rounded-full bg-color-4 font-normal text-xl text-color-2 pointer-events-none transition-all group-hover:invisible group-hover/slider:opacity-0 group-hover/slider:scale-75 xl:top-[10.5rem] xl:w-40 xl:h-40 lg:hidden">DRAG</div>
                <div class="swiper slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="relative h-[33.75rem] mb-10 xl:h-[23.75rem]">
                                img(class="absolute top-0 left-0 w-full h-full object-cover" src=require('Images/photo-1.jpg'))
                            </div>
                            <div class="mb-2 text-h6">Daniel Grecko</div>
                            <div class="text-color-7">Chief Executive Officer</div>
                        </div>
                        <div class="swiper-slide">
                            <div class="relative h-[33.75rem] mb-10 xl:h-[23.75rem]">
                                img(class="absolute top-0 left-0 w-full h-full object-cover" src=require('Images/photo-2.jpg'))
                            </div>
                            <div class="mb-2 text-h6">Ava Rodriguez</div>
                            <div class="text-color-7">Chief Executive Officer</div>
                        </div>
                        <div class="swiper-slide">
                            <div class="relative h-[33.75rem] mb-10 xl:h-[23.75rem]">
                                img(class="absolute top-0 left-0 w-full h-full object-cover" src=require('Images/photo-3.jpg'))
                            </div>
                            <div class="mb-2 text-h6">Jason Miranda</div>
                            <div class="text-color-7">Chief Executive Officer</div>
                        </div>
                        <div class="swiper-slide">
                            <div class="relative h-[33.75rem] mb-10 xl:h-[23.75rem]">
                                img(class="absolute top-0 left-0 w-full h-full object-cover" src=require('Images/photo-1.jpg'))
                            </div>
                            <div class="mb-2 text-h6">Daniel Grecko</div>
                            <div class="text-color-7">Chief Executive Officer</div>
                        </div>
                        <div class="swiper-slide">
                            <div class="relative h-[33.75rem] mb-10 xl:h-[23.75rem]">
                                img(class="absolute top-0 left-0 w-full h-full object-cover" src=require('Images/photo-2.jpg'))
                            </div>
                            <div class="mb-2 text-h6">Ava Rodriguez</div>
                            <div class="text-color-7">Chief Executive Officer</div>
                        </div>
                        <div class="swiper-slide">
                            <div class="relative h-[33.75rem] mb-10 xl:h-[23.75rem]">
                                img(class="absolute top-0 left-0 w-full h-full object-cover" src=require('Images/photo-3.jpg'))
                            </div>
                            <div class="mb-2 text-h6">Jason Miranda</div>
                            <div class="text-color-7">Chief Executive Officer</div>
                        </div>
                        <div class="swiper-slide">
                            <div class="relative h-[33.75rem] mb-10 xl:h-[23.75rem]">
                                img(class="absolute top-0 left-0 w-full h-full object-cover" src=require('Images/photo-1.jpg'))
                            </div>
                            <div class="mb-2 text-h6">Daniel Grecko</div>
                            <div class="text-color-7">Chief Executive Officer</div>
                        </div>
                        <div class="swiper-slide">
                            <div class="relative h-[33.75rem] mb-10 xl:h-[23.75rem]">
                                img(class="absolute top-0 left-0 w-full h-full object-cover" src=require('Images/photo-2.jpg'))
                            </div>
                            <div class="mb-2 text-h6">Ava Rodriguez</div>
                            <div class="text-color-7">Chief Executive Officer</div>
                        </div>
                        <div class="swiper-slide">
                            <div class="relative h-[33.75rem] mb-10 xl:h-[23.75rem]">
                                img(class="absolute top-0 left-0 w-full h-full object-cover" src=require('Images/photo-3.jpg'))
                            </div>
                            <div class="mb-2 text-h6">Jason Miranda</div>
                            <div class="text-color-7">Chief Executive Officer</div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                    <div class="swiper-scrollbar"></div>
                </div>
            </div>
        </div>
    </div>
    include ../includes/achieve
